{{#extend "../_template-admin"}}
  {{#content "variables"}}
    {{var title = 'Admin page'}}{{/content}}{{/extend}}{{#block "content"}}
  <div class="wrapper">
    <header class="admin-header">
      <div class="container admin-header__container">
        <div class="admin-header__title">Административная панель</div><a href="/" class="admin-header__link">Вернуться на сайт</a>
      </div>
    </header>
    <section class="admin-content">
      <div class="container admin-content__container">
        <div class="form-container">
          <form action="/admin/skills" method="POST" class="form-skill">
            <div class="form-title">Счетчики</div>{{#if msgskill}}
              <div class="status">{{msgskill}}</div>
            {{/if}}<label class="form-skill__input-line"> <span class="form-skill__input-title">Возраст</span><input name="age" type="number" class="form-skill__input"></label><label class="form-skill__input-line"> <span class="form-skill__input-title">Концертов</span><input name="concerts" type="number" class="form-skill__input"></label><label class="form-skill__input-line"> <span class="form-skill__input-title">Число городов</span><input name="cities" type="number" class="form-skill__input"></label><label class="form-skill__input-line"> <span class="form-skill__input-title">Лет на сцене</span><input name="years" type="number" class="form-skill__input"></label>
            <div class="form__btns form-skill__input-line"><button type="submit" class="button">Сохранить</button></div>
          </form>
          <form action="/admin/upload" method="POST" enctype="application/x-www-form-urlencoded" class="form-upload">
            <div class="form-title">Добавить товар</div>{{#if msgfile}}
              <div class="status">{{msgfile}}</div>
            {{/if}}
            <div class="form-upload__input-line">
              <div class="form-upload__wraper"><label class="form-upload__label"><input name="photo" type="file" required accept="image/*" class="form-upload__input-file"><span class="form-upload__input-file-title">Загрузить фото</span></label></div>
            </div>
            <div class="form-upload__input-line"><input name="name" type="text" placeholder="Название" class="form-upload__input"></div>
            <div class="form-upload__input-line"><input name="price" type="text" placeholder="Цена" class="form-upload__input"></div>
            <div class="form-upload__input-line form-upload__input-line--btn"><button type="submit" class="button">Добавить</button></div>
          </form>
        </div>
      </div>
    </section>
  </div>
{{/block}}