{{#extend "../_template"}}
  {{#content "variables"}}
    {{var title = 'Login page'}}{{/content}}{{/extend}}{{#block "content"}}
  <header class="header">
    <div class="container header__container">
      <div class="header__top"><a href="/" class="title-name">Архипов<span class="title-name__doter">.</span></a>
        <div class="header__social">
          <ul class="social">{{#each social as |item|}}
              <li class="social__item"><a href="http://" class="social__link"><i class="{{`fab {{item}}`}}"></i></a></li>
            {{/each}}</ul>
        </div>
      </div>
      <form action="/login" method="POST" class="form-login">{{#if msgslogin}}
          <div class="status">{{msglogin}}</div>
        {{/if}}
        <div class="form-login__line"><label for="{{""}}" class="form-login__label">Привет,</label><input type="email" name="email" placeholder="E-MAIL" class="form-login__input"></div>
        <div class="form-login__line"><input type="password" name="password" placeholder="Пароль" class="form-login__input"></div>
        <div class="form-login__line"><button type="submit" class="form-login__button">Войти</button></div>
      </form>
    </div>
  </header>
{{/block}}